body {
    font: 16px 'Verdana';
    margin: 0;
    padding: 0;
}
/*изображение в шапке страницы*/
.EXCO {
    background: url(EXCO.jpg) repeat-x center bottom; 
}
.EXCO img {
    height: 13%; 
    width: 100%;
    text-align: center;
    position: relative; /* Относительное позиционирование */
}
/*меню страницы + закрепление шапки сайта*/
#headerMain {
        width:100%;
        margin:0px auto;
        z-index:0; 
}
#header {
        width:100%;
        position: fixed;
        z-index: 9999;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    width: 20%;
    text-align: center;
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #3939A9;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: #000066;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: transparent;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #3939A9;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    background-color: #000066;
}
ul.subsubmenu {
    display: none;
    position: absolute;
    width: 50%;
    top: 17%;
    left: 100.2%;
    background-color: transparent;
}
ul.subsubmenu > li {
    display: block;
}
ul.subsubmenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #3939A9;
    text-decoration: none;
}
ul.subsubmenu > li > a:hover {
    background-color: #000066;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
ul.menu > li:hover > ul.submenu > li:hover > ul.subsubmenu{
    display: block;
}
/*Scrollbar*/
.html {
    background: lightgrey;
    height: 89.9%;
    overflow: hidden;
    position: relative;
    top: 10.1%;
}
.body {
    height: 89.9%;
    background: lightgrey;
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    font: 100%/1.4 serif;
    border: 1px solid rgba(0,0,0,0.25);
    position: relative;
    top: 10.1%;
}
.body::-webkit-scrollbar {
    width: 1em;
    height: 0em;
}
.body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
/*текст*/
.blocks{
    background: whitesmoke;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.text{
    font: 16px 'Verdana';
}
.text p{
    padding: 2em;
    text-align: center;
}
.undertext{
    font: 12px 'Georgia';
    text-align: right;
    padding-top: 1em;
    position: relative;
    left: -40%;
}